<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>20 ab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/jquery.toast.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="app">
        <div style="height: 100vh;">
            <div class="my-2" :style="'margin-left: ' + (cardSize.height + 20) + 'px;'">
                <span v-if="turn" class="font-weight-bold text-white mr-2">Turno: {{turn}}<br></span>
                <span v-for="(player, index) in players" v-bind:key="'playeers-points-' + index" 
                    class="font-weight-bold text-white">Jogador {{index + 1}}: {{player.points}}<br></span>
                <span v-if="turn" class="font-weight-bold text-white mr-2">
                    Fase: {{phases[currentPhaseIndex].name}}<br>
                </span>
                <span class="font-weight-bold text-white mr-2">Nipe trunfo: </span>
                <img v-if="trumpSuitIndex !== null" :src="'assets/img/suits/' + Object.values(suits)[trumpSuitIndex] + '.png'">
            </div>

            <img v-for="(card, index) in players[3].cardsInHand" v-bind:key="'playeer3cards-' + index" 
                src="assets/img/cards/back-hor.jpg" class="player3-card" :width="cardSize.height"
                :style="'top: ' + ((window.innerHeight / 2) - (((cardSize.width + 4) * players[3].cardsInHand.length) / 2) + ((cardSize.width + 4) * index)) + 'px;'">

            <div id="player2-cards">
                <div style="position: relative; left: -50%;">
                    <div class="row justify-content-center">
                        <img v-for="(card, index) in players[2].cardsInHand" v-bind:key="'playeer2cards-' +  index" 
                            src="assets/img/cards/back.jpg" class="card-padding-x" :height="cardSize.height">
                    </div>
                </div>
            </div>

            <div id="player0-cards">
                <div style="position: relative; left: -50%;">
                    <div class="row justify-content-center">
                        <img v-for="(card, index) in players[0].cardsInHand" v-bind:key="'playeer1cards-' +  index" :height="cardSize.height"
                            :src="'assets/img/cards/' + card.name + '.png'" class="card-padding-x">
                    </div>
                </div>
            </div>

            <img v-for="(card, index) in players[1].cardsInHand" v-bind:key="'playeer0cards-' +  index" 
                src="assets/img/cards/back-hor.jpg" class="player1-card" :width="cardSize.height"
                :style="'top: ' + ((window.innerHeight / 2) - (((cardSize.width + 4) * players[1].cardsInHand.length) / 2) + ((cardSize.width + 4) * index)) + 'px;'">

            <div class="center-div">
                <div style="position: relative; left: -50%; top: -50%;">
                    <div v-if="currentTrumpSuitChoicePlayerIndex === 0 && currentPhaseIndex === 1 && trumpSuitIndex === null">
                        <img v-for="(suit, index) in Object.values(suits)" v-bind:key="'suits-' + index"
                            :src="'assets/img/suits/' + suit + '.png'" class="suit-button"
                            @click="selectTrumpSuit(index)">
                        <div class="row justify-content-center pt-3">
                            <span class="font-weight-bold text-white col-auto">Selecione o nipe trunfo</span>
                        </div>
                    </div>

                    <div v-if="currentPhaseIndex <= 2 && trumpSuitIndex !== null">
                        <div class="row justify-content-center pt-3">
                            <img :src="'assets/img/suits/' + Object.values(suits)[trumpSuitIndex] + '.png'">
                        </div>
                        <span class="font-weight-bold text-white col-auto">Nipe trunfo</span>
                    </div>

                    <span v-if="currentPhaseIndex === 3" class="font-weight-bold text-white col-auto">
                        Selecione até 3 cartas para trocar
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./assets/js/jquery.toast.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                suits: {
                    hearts: 'h',
                    bells: 'b',
                    leaves: 'l',
                    acorns: 'a',
                },
                ranks: [
                    '7', '8', '9', 'u', 'o', 'k', '10', 'a' 
                ],
                cards: [],
                players: [
                    {
                        id: 0,
                        name: 'player1',
                        com: false,
                        points: 20,
                        cardsInHand: [],
                        lastPlayedCardIndex: null
                    },
                    {
                        id: 1,
                        name: 'player12',
                        com: true,
                        points: 20,
                        cardsInHand: [],
                        lastPlayedCardIndex: null
                    },
                    {
                        id: 2,
                        name: 'player3',
                        com: true,
                        points: 20,
                        cardsInHand: [],
                        lastPlayedCardIndex: null
                    },
                    {
                        id: 3,
                        name: 'player4',
                        com: true,
                        points: 20,
                        cardsInHand: [],
                        lastPlayedCardIndex: null
                    },
                ],
                currentTrick: 1,
                currentTrumpSuitChoicePlayerIndex: 0,
                currentPlayerIndex: 0,
                phases: [
                    {
                        id: 0,
                        name: 'Primeira compra',
                    },
                    {
                        id: 1,
                        name: 'Escolha do nipe trunfo',
                    },
                    {
                        id: 2,
                        name: 'Segunda compra',
                    },
                    {
                        id: 3,
                        name: 'Troca',
                    },
                    {
                        id: 4,
                        name: 'Jogar ou passar',
                    },
                    {
                        id: 5,
                        name: 'Principal',
                    }
                ],
                currentPhaseIndex: 0,
                cardsInDeck: [],
                cardSize: {
                    width: 129 * 0.75,
                    height: 200 * 0.75
                },
                window,
                trumpSuitIndex: null,
                sleepInterval: 500,
                sound: null,
                turn: 0
            },
            mounted() {
                this.window = window;
                this.setCardSize();
                this.setSound();
                this.generateCards();
                this.resetGame();
            },
            methods: {
                generateCards() {
                    Object.values(this.suits).forEach(s => {
                        for (let i = 0; i < this.ranks.length; i++) {
                            let r = this.ranks[i];

                            this.cards.push({
                                name: s + r,
                                suit: s,
                                rank: r,
                                power: i + 1
                            });
                        }
                    });
                },
                resetGame() {
                    this.currentTrumpSuitChoicePlayerIndex = this.getRandomArbitrary(0, 3);
                    this.players.forEach(p => {
                        p.points = 20;
                    });
                    this.goToNextTurn(); 
                },
                goToNextTurn() {
                    this.playSound();
                    this.currentTrumpSuitChoicePlayerIndex++;
                    if (this.currentTrumpSuitChoicePlayerIndex > 3) {
                        this.currentTrumpSuitChoicePlayerIndex = 0;
                    }
                    this.currentPlayerIndex = this.currentTrumpSuitChoicePlayerIndex;
                    this.showToast('O jogador ' + (this.currentTrumpSuitChoicePlayerIndex + 1) + ' irá escolher o nipe trunfo');

                    this.turn++;
                    this.currentPhaseIndex = 0;
                    this.currentTrick = 1;
                    this.trumpSuitIndex = null;
                    this.shuffleDeck();
                    this.players.forEach(p => {
                        p.cardsInHand = [];
                        p.lastPlayedCardIndex = null;
                    });

                    this.sleep(2).then(() => {
                        this.handleCurrentPhase();
                    });
                },
                shuffleDeck() {
                    this.cardsInDeck = this.shuffle(JSON.parse(JSON.stringify(this.cards)));
                },
                handleCurrentPhase() {
                    switch (this.currentPhaseIndex) {
                        case 0: {
                            for (let i = 0; i < this.players.length; i++) {
                                let p = this.players[i];

                                this.sleep().then(() => {
                                    p.cardsInHand.push(this.pickNextCard());

                                    this.sleep().then(() => {
                                        p.cardsInHand.push(this.pickNextCard());

                                        if (i >= this.players.length - 1) {
                                            this.goToNextPhase();
                                        }
                                    });
                                });
                            }
                            break;
                        }
                        case 1: {
                            if (this.currentTrumpSuitChoicePlayerIndex !== 0) {
                                this.selectTrumpSuit(this.getRandomArbitrary(0, 3));
                            }

                            break;
                        }
                        case 2: {
                            for (let i = 0; i < this.players.length; i++) {
                                let p = this.players[i];

                                this.sleep().then(() => {
                                    p.cardsInHand.push(this.pickNextCard());

                                    this.sleep().then(() => {
                                        p.cardsInHand.push(this.pickNextCard());

                                        this.sleep().then(() => {
                                            p.cardsInHand.push(this.pickNextCard());

                                            if (i >= this.players.length - 1) {
                                                this.goToNextPhase();
                                            }
                                        });
                                    });
                                });
                            }
                            break;
                        }
                    }
                },
                pickNextCard() {
                    this.playSound();
                    return this.cardsInDeck.pop();
                },
                goToNextPhase() {
                    this.sleep(2).then(() => {
                        this.currentPhaseIndex++;
                        if (this.currentPhaseIndex > 5) {
                            this.currentPhaseIndex = 0;
                        }

                        this.handleCurrentPhase();
                    });
                },
                selectTrumpSuit(index) {this.playSound();
                    this.trumpSuitIndex = index;
                    this.showToast(
                        this.upperCaseFirstLetter(
                            Object.keys(this.suits)[index]
                        ) + ' foi selecionado como nipe trunfo'
                    );
                    this.goToNextPhase();
                },
                getRandomArbitrary(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                },
                shuffle(array) {
                    var currentIndex = array.length, temporaryValue, randomIndex;

                    // While there remain elements to shuffle...
                    while (0 !== currentIndex) {

                        // Pick a remaining element...
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;

                        // And swap it with the current element.
                        temporaryValue = array[currentIndex];
                        array[currentIndex] = array[randomIndex];
                        array[randomIndex] = temporaryValue;
                    }

                    return array;
                },
                showToast(text) {
                    $.toast({
                        text: text,
                        hideAfter: 5000
                    });
                },
                upperCaseFirstLetter(str) {
                    if (str && str.length > 1) {
                        return str.substring(0, 1).toUpperCase() + str.substring(1);
                    }

                    return str;
                },
                sleep(times) {
                    if (times === undefined) {
                        times = 1;
                    }

                    return new Promise(resolve => {
                        setTimeout(resolve, this.sleepInterval * times);
                    });
                },
                setSound() {
                    this.sound = document.createElement("audio");
                    this.sound.src = 'assets/sounds/card.wav';
                    this.sound.setAttribute("preload", "auto");
                    this.sound.setAttribute("controls", "none");
                    this.sound.style.display = "none";
                },
                playSound() {
                    this.sound.pause();
                    this.sound.play();
                },
                setCardSize() {
                    let oldHeight = this.cardSize.height;
                    this.cardSize.height = (this.window.innerHeight / 4) - (50 / 4);
                    this.cardSize.width = (this.cardSize.height * this.cardSize.width) / oldHeight;
                }
            }
        });
    </script>
</body>
</html>