body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#player0-cards {
    position:absolute;
    bottom: 10px;
    left: 50%;
}

#player2-cards {
    position:absolute;
    top: 10px;
    left: 50%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.player1-card {
    position:absolute;
    right: 10px;
}

.player3-card {
    position:absolute;
    left: 10px;
}

.card-padding-x {
    padding-left: 2px;
    padding-right: 2px;
}

.suit-button {
    margin-left: 20px;
    margin-right: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.selected-card {
    outline: 3px solid blue;
    outline-offset: -1px;
}

.position-absolute {
    position: absolute;
}

#back-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

#chat-message-input {
  position: absolute;
  bottom: 5px;
}

@media (min-width: 1025px) and (max-width: 1359px) {
  .dynamic-text {
    font-size: 1vw;
  }
}

@media (min-width: 851px) and (max-width: 1024px) {
  .dynamic-text {
    font-size: 0.9vw;
  }
}

.center-div {
  position:absolute;
  left: 50%;
}

.inner-center-div {
  position:relative;
  left: -50%;
}

@media (max-width: 850px) {
  .dynamic-text {
    font-size: 1.5vw;
  }

  .center-div {
    top: 40%;
  }

  .inner-center-div {
    top: -40%;
  }

  .mobile-hide {
    display: none;
  }

  #chat-message-input {
    right: 5px;
    width: 120px;
  }

  .jq-toast-wrap {
    width: 130px;
  }

  .jq-toast-single {
    font-size: 7px;
  }

  .jq-toast-heading {
    font-size: 7px !important;
    margin-bottom: 0px !important;
  }
}

@media (min-width: 851px) {
  .center-div {
    top: 50%;
  }

  .inner-center-div {
    top: -50%;
  }

  #chat-message-input {
    left: 80px;
  }
}

#how-to-play-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#next-how-to-play-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}